@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

$yellow: rgb(255,236,0);
$cyan: rgb(0,160,153);
$blue: rgb(49,39,130);

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Archivo Narrow', sans-serif;
  box-sizing: border-box;
}