.contactUs{
  &__photo{
    padding: 20px 20%;   
    display: flex;
    justify-content: center; 
    img{
      width: 100%;
      max-width: 300px;
      height: auto;
    }
  }

  &__map{
    margin-bottom: 20px;    
  }

  &__redesTitle{
    text-align: center;
    margin-bottom: 15px;

  }
  &__redesContainer{
    display: flex;
    width: 80%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  &__redesLink{
    display: flex;
    width: 20%;
    justify-content: center;
    & img{
      width: 100%;
      height: auto;
    }
  }  
}

@media(min-width:1024px){
  .contactUs{
    display: flex;
    margin: 20px 0px;
    &__photo{
      padding: 20px;   
      display: flex;
      justify-content: center; 
      img{
        width: 100%;
        max-width: 300px;
        height: auto;
      }
    }
    &__rigth{
      width: calc(100% - 340px);
      padding: 20px;
    }
  }

}