.about{
  margin-top: 20px;
  &__profile{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  &__photo{        
    img{
      width: 100%;
      height: auto;
    }
  }
  &__main{
    padding: 20px 10%;
    text-align: justify;
  }

  &__bulletTitle{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  &__bulletContainer{
    display: flex;
    justify-content: space-around;

  }

  &__bullet{
    width: 70px;
    height: 70px;
    background-color: $blue;
    color: #fff;
    border-radius: 50%;
  }

}

@media(min-width:768px){
  .about{
    font-size: 1.2rem;
    &__bullet{
      width: 100px;
      height: 100px;    
    }
  }
}

@media(min-width:1024px){
  .about{
    display: flex;
    font-size: 1rem;
    margin-bottom: 15px;
    &__profile{
      width: 35%;
      padding: 0px 40px;
      margin: 0px;
    }
    &__main{
      width: 65%;
    }
        
  }
}