.footer{
  background-color: rgb(46, 47, 48);
  display: flex;
  
  &__container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }

  &__item{
    width: 100%;  
    color: #fff;
    padding: 0px 10px;
    &:nth-child(2){    
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0px;
      order: 1;
    }
  }

  

  &__title{
    margin-bottom: 10px;
    text-align: center;
  }

  &__redes{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    max-width: 350px;
    & a{
      color: #fff;
      margin-bottom: 5px;
    }
  }
}

@media (min-width:1024px){
  .footer{
    &__container{    
      flex-direction: row;    
      align-items: stretch;
    }
    &__item{
      width: 33%;  
      color: #fff;
      padding: 0px 10px;
      
      
      &:nth-child(2){
        order: 0;
        border-left: 2px #fff solid;
        border-right: 2px #fff solid;
      }
    }
    &__redes{
      margin: 0px;
    }
    
  }

}

